body {
    font-family: "Imperial Script", cursive;
}

h1 {
    color: red;
    text-align: center;
    font-style: bold;
    margin: 1em;
    border: 1px solid pink;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0em;
    padding: 1em 2em 3em 4em;
    padding: 1em 2em;
}

a {
    color: lightgreen;
}

a:hover {
    color: darkgreen;
}

/* .greeting {
    position:relative;
    top: 1em;
    left: 4em;
} */

/* .greeting {
    position: absolute;
    bottom:0;
    right: 0;
} */

/* .greeting {
    position: fixed;
    bottom:0;
    left: 0;
} */

.greeting {
    position: sticky;
    top: 0;
    left: 0;
}

.block {
    background-color: gray;
    display: block;
    width:100px;
    height: 100px;
}

.inline 
{
    background-color: lightblue;
    display: inline;
}